#react-tree-map {
    position: relative;
    margin: auto;
    overflow: hidden;
    height: 100%;
}

#react-tree-map div {
    position: absolute;
    overflow: hidden;
}

#react-tree-map .content {
    background-color: #333;
    border: 0 solid #333;
}

#react-tree-map .head {
    color: #fff;
    font-weight: 700;
    font-size: 11px;
    line-height: 15px;
    text-align: center;
}

#react-tree-map .body {
    background-color: #333;
}

#react-tree-map .leaf {
    color: #fff;
    background-color: #333;
    vertical-align: middle;
    display: flex;
}

#react-tree-map .leaf .text {
    position: relative;
    margin: auto;
    line-height: 150%;
    direction: ltr;
    font-weight: 700;
    text-align: center;
}

#react-tree-map .leaf .text .value {
    font-size: 0.7em;
}

#react-tree-map .over-leaf {
    border: 1px solid #9fd4ff;
}

#react-tree-map .over-content {
    background-color: #9fd4ff;
}

#react-tree-map .over-head {
    background-color: #a4d9ff;
    color: #333;
}

.tip {
    background-color: #333;
    padding: 1px;
    min-width: 175px;
}

.tip .mm-tooltip {
    font-size: 10px;
    color: #333;
    background: #fff;
    padding: 7px 20px;
}

#marketmap_colorbox {
    text-align: left;
    direction: ltr;
}

#marketmap_colorbox ul {
    padding: 0;
    margin: 0;
    display: inline-block;
}

#marketmap_colorbox ul li {
    padding-top: 5px;
    list-style: none;
    display: inline-block;
    color: #fff;
    text-align: center;
    width: 40px;
    height: 30px;
    font-weight: 700;
}
